#remote-control-overlay-temp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  transition: background-color 1.5s ease;
  pointer-events: none;
}

/* Class for elements that receive brightness filter animation */
.brightness-filtered {
  transition: filter 1.5s ease-in-out;
}
