#remote-control-overlay-temp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  transition: background-color 1.5s ease;
}

body > *:not(script, style) {
  transition: filter 1.5s ease-in-out;
}
