html {
  cursor: auto;
}

body {
  margin: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}

.fill {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.result-list {
  overflow-y: auto;
  height: 100%;
}

.menu-element {
  display: none;
}

.button {
  cursor: pointer;
}

.status-indicator {
  display: none;
}

#error {
  display: inline;
}

.result {
  position: absolute;
  right: 0px;
  top: 0px;
  line-height: 1em;
  font-size: 15px;
}

.module-line {
  padding-bottom: 5px;
}

input {
  background: #000;
  color: #999;
  font-size: inherit;
  font: inherit;
  width: calc(100% - 4px);
  border: 2px solid #999;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  max-width: 20em;
}

input:focus { 
  color: #FFF;
  border: 2px solid #FFF;
  background-color: #444;
}

.config-label {
  max-width: 20em;
}

.focused-label {
  color: #FFF;
}

.input-spacing {
  margin-bottom: 15px;
}

.input-with-symbol {
  width: calc(100% - 2em);
}

.search-container {
  position: relative;
}

.delete-button {
  position: absolute;
  right: 0.35em;
  top: 0.35em;
}

/* general toggle rules */
.toggled-off > * > .fa-toggle-on {
  display: none;
}
.toggled-off > .fa-toggle-on {
  display: none;
}
.toggled-on > * > .fa-toggle-off {
  display: none;
}
.toggled-on > .fa-toggle-off {
  display: none;
}

/* edit button specific stuff */
.module-line > * > .fa-lock {
  display: none;
}
.external-locked > * > .fa-lock.inner-small-label {
  display: inline-block;
}

.slider-container {
  display: table-cell;
  vertical-align: middle;
  height: 2em;
  max-width: 400px;
}

.stack {
  position: relative;
  display: inline-block;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  vertical-align: middle;
}

.inner-label {
  font-size: 0.9em;
}

.inner-monitor-label {
  font-size: 0.5em;
  top: -0.15em;
  left: -0.05em;
}

.inner-small-label {
  font-size: 0.4em;
  left: -0.5em;
}

.outer-label {
  font-size: 1em;
}

.slider {
  vertical-align: middle;
  border: 0px;
}

.popup {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: black;
  position: absolute;
  border: 2px solid #999;
  top: 0px;
  border-radius: 5px;
  display: none;
  overflow-y: auto;
}

.popup-contents {
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  width: calc(100% - 20px);
}

.title {
  flex: 0 1 auto;
  margin-right: 1.5em;
}

.subtitle {
  flex: 0 1 auto;
  padding-right: 5px;
  text-align: right;
  font-style: italic;
}

.indent {
  margin-left: 8px;
  padding-left: 8px;
}

.bordered {
  border-top: 1px dashed #666;
  margin-top: 5px;
  padding-top: 5px;
  border-bottom: 1px dashed #666;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-left: 1px dashed #666;
}

.align-right {
  text-align: right;
}

.flex-fill {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: auto;
}

.fixed-size {
  flex: 0 1 auto;
}

.hidden {
  display: none;
}


/* slider appearance created with http://danielstern.ca/range.css/?ref=css-tricks#/ */
input[type=range] {
  -webkit-appearance: none;
  width: 95%;
  margin: 15px 0;
  background: #000000;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #999999;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #9c9c9c;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #999999;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #969696;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #999999;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
  height: 10px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #999999;
}
input[type=range]:focus::-ms-fill-upper {
  background: #9c9c9c;
}
