html {
  cursor: auto;
}

body {
  overflow-y: scroll;
  margin: 20px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
}

.menu-button {
  cursor: pointer;
  display: none;
}

.status-indicator {
  display: none;
}

#error {
  display: inline;
}

.result {
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 1em;
    font-size: 15px;
}

.hidden-on-mirror > .symbol-on-show {
    display: none;
}

.shown-on-mirror > .symbol-on-hide {
    display: none;
}
